@import './components/nav';
@import './components/buttonSubmit';
@import './components/studies';
@import './components/firstChapter';
@import './components/projets';
@import './components/skills';
@import './layout/background';
@import './utils/variables';


*{
    box-sizing: border-box;
   
}
body{
    margin: 0;
}

h2{
  font-size: 40px;
  transform: translateX(50px) ;
  opacity: 0;
  animation: animTitle 700ms 1000ms forwards;
}

main{
  width: 90%;
  margin-top: -90px;
}

@keyframes animTitle{
  100%{
      opacity: 1;
      transform: translateX(0);
  }
}

.nav{
  display: flex;
  width: 10%;
  margin-left: 90%;
}
@mixin heart-linear-gradient{
  background: linear-gradient(180deg, rgba(162,22,107,1), rgba(255,227,187,1));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
@media all and (max-width:768px){
  h2{
    font-size: 25px;
    margin-left: 25px;
    @include heart-linear-gradient;
  }
  main{
    width: 100%;
    background: #eeeeee;
  }
  .nav{
   display:none;
  }
}