$colorPrimary: #ADC2A9;
$colorPrimaryDark:#99a799;
.buttonSubmit{
    display:flex;
    align-items: center;
    margin: 30px auto;
    background: $colorPrimaryDark;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    cursor:pointer;
    transition: transform 400ms;
    transform: scale(1);
    &:hover{
        transform: scale(1.1);
    }
}