
.buttonSubmit{
    display:flex;
    align-items: center;
    margin: 30px auto;
    background: rgba(162, 22, 106, 0.479);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    cursor:pointer;
    transition: transform 400ms;
    transform: scale(1);
    &:hover{
        transform: scale(1.1);
        background-color: rgb(162, 22, 106);
    }
}