.infos{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 30px;
    box-shadow: 7px 10px 7px 0px rgba(65, 64, 64, 0.445);
    color: white;
    img{
        width: 30%;
        height: 200px;
        object-fit: cover;
        transform: scale(0);
        animation: animPhoto 1500ms  forwards;
    }
    &__content{
       display: flex;
       padding-bottom: 10px;
        &__general{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            span{
                font-size: 30px;
                text-align: center;
            }
        }
        &__text{
            ul{
                list-style-type: none;
                text-align: end;
                margin-top: 40%;
            }
        }
    }
}
@keyframes animPhoto{
  
    100%{
       transform: scale(1);
    }
}

@media all and (max-width:768px){
    .infos{
        margin: 90px 0 0 0;
        width: 100%;
        background: linear-gradient(200deg, rgba(162,22,107,1) 0%, rgba(255,227,187,1) 100%);
        img{
        width: 25%;
        height: 100px;
        margin: 20px 0;
        }
        &__content{
            flex-direction: column; 
            width: 80%;
                margin: auto;
            &__general{
               
                flex-direction: row;
                justify-content: space-around;
           
            span{
                font-size: 20px;
                margin-left: 5px;
                } 
            }
            &__text{
                ul{
                    margin-top: 10px;
                    text-align: center;
                }
            }
        }
    }
}