.infos{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 30px;
    box-shadow: 7px 10px 7px 0px rgba(65, 64, 64, 0.445);
    color: white;
    img{
        width: 30%;
        height: 200px;
        object-fit: cover;
        transform: scale(0);
        opacity: 0;
        animation: animPhoto 1500ms  forwards;
    }
    &__content{
       display: flex;
       justify-content: space-between;
       padding-bottom: 10px;
       width: 100%;
       margin-left: 20px;
        &__general{
            display: flex;
            flex-direction: column;
            span{
                font-size: 30px;
                text-align: center;
            }
        }
        &__text{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: 7%;
        }
    }
}
@keyframes animPhoto{
  
    100%{
       transform: scale(1);
       opacity: 1;
    }
}

@media all and (max-width:768px){
    .infos{
        margin: 90px 0 0 0;
        width: 100%;
        background: linear-gradient(200deg, rgba(162,22,107,1) 0%, rgba(255,227,187,1) 100%);
        opacity: 0;
        animation: animInfo 700ms 300ms forwards;
        img{
        width: 30%;
        height: 120px;
        margin: 20px 0;
        }
        &__content{
            flex-direction: column;
            &__general{
                span{
                font-size: 20px;
                }
            }
            &__text{
                flex-direction: row;
                justify-content: space-between;
                font-size: 10px;
            }
        }
    }
}
@keyframes animInfo{
  
    100%{
       opacity: 1;
    }
}