$colorPrimaryLight: #d3e4cd;

.firstNameForm{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    margin: auto;
    box-shadow: 7px 10px 7px 0px rgb(219, 219, 219);
    border-radius: 10px;
    background: $colorPrimaryLight;
    
    transform: translateY(0);
    animation: slide 1000ms;
    &:hover{
        box-shadow: 9px 12px 7px 0px rgb(170, 170, 170);
    }

    input{
        text-align: center;
        margin: 30px auto;
        border: 1px solid black;
        &:hover{
            background:#f7f5f2;
        }

    }

}

@keyframes slide{
    0% {transform: translateY(50px)}

    100% {transform: translateY(0)}
}