.infos{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 30px;
    box-shadow: 7px 10px 7px 0px rgba(65, 64, 64, 0.445);
    color: white;
    font-size: 35px;
    img{
        width: 30%;
        height: 200px;
        object-fit: cover;
        transform: scale(0);
        opacity: 0;
        animation: animPhoto 1500ms  forwards;
    }
     &__content{
      display: flex;
      flex-direction: column;
      width: 60%;
      text-align: center;
      div{
        margin-bottom: 10px ;
      }
    } 
}
@keyframes animPhoto{
  
    100%{
       transform: scale(1);
       opacity: 1;
    }
}

@media all and (max-width:768px){
    .infos{
        //flex-direction: column;
        margin: 90px 0 0 0;
        width: 100%;
        background: linear-gradient(200deg, rgba(162,22,107,1) 0%, rgba(255,227,187,1) 100%);
        opacity: 0;
        animation: animInfo 700ms 300ms forwards;
        img{
        width: 30%;
        height: 120px;
        margin: 20px 0;
        }
        &__content{
          margin: 40px auto;
            font-size: 20px;
        }
    }
}
@keyframes animInfo{
  
    100%{
       opacity: 1;
    }
}