.skills{
    display: flex;
    margin: 50px auto;
    width: 90%;
    &__title{
        width: 50%;
        font-size: 40px;
      
    }
    &__list{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 30px;
    }
}
.conclusion{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}
@media all and (max-width:768px){
    .skills{
        flex-direction: column;
        &__list{
            align-items: center;
        }
    }
}