.skills{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 90%;
    padding-top: 50px;
    &__list{
        display: flex;
        margin: auto;
        justify-content: space-between;
        width: 90%;
        margin-top: 30px;
        opacity: 0;
        animation: animContent 700ms 300ms forwards;
        &__hard{
            border: 1px black solid;
            width: 60%;
            border-radius: 30px;
            padding: 20px;
            background-color: #fafafa5e;
            box-shadow: 7px 10px 7px 0px rgba(65, 64, 64, 0.445);
        }
        &__soft{
            border: 1px black solid;
            width: 30%;
            border-radius: 30px;
            padding: 20px;
            background-color: #fafafa5e;
            box-shadow: 7px 10px 7px 0px rgba(65, 64, 64, 0.445);
        }
    }
}
.conclusion{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}

@keyframes animContent{
  
    100%{
        opacity: 1;
    }
}
@media all and (max-width:768px){
    .skills{
        width: 100%;
        margin-top: 0;
        &__list{ 
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 0;
            &__hard{
                margin-bottom: 10px;
                border: none;
                width: 100%;
                border-radius: 0;
            }
            &__soft{
                border: none;
                width: 100%;
                border-radius: 0;
            }
        }
    }
}