.studies{
    display:flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding-top: 50px;
    &__parcours{
    opacity: 0;
    animation: animContent 700ms 300ms forwards;
    }
}


@keyframes animContent{
  
    100%{
        opacity: 1;
    }
}